Package: io.github.agentepsilon.hidedocklabels10
Name: HideDockLabels10
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hide Dock Icon Labels on iOS 10
Maintainer: Evan Miller
Author: Evan Miller
Section: Tweaks
Version: 0.0.1-6+debug
Installed-Size: 120
